*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
}

#outterContainer{
    margin-top: 50px;
    margin-bottom: 50px;
}

.parentContainer{
    width: 85%;
    margin: 0 auto !important;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 15px 15px 35px -10px rgba(0,0,0, 0.25);
}

.content{
    padding: 150px 0px 150px  0px;
}

.name{
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 81px;
    font-family: 'Oxygen', sans-serif;
}

.about{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    font-family: 'Oxygen', sans-serif;
}

.imageBg{
    border-radius: 15px;
    margin: 20px 0px 20px 0px;
}

.buttonStyle{
 background-color: #000000;   
 color: #FFFFFF;
 height: 80px;
 border-radius: 8px;
 box-shadow: 6px 6px 10px rgba(0,0,0,0.25);
 padding: 0px 20px 0px  20px;
 font-style: normal;
 font-weight: 300;
 font-size: 30px;
 line-height: 38px;
 font-family: 'Oxygen', sans-serif;

}

button:focus { 
    outline: none !important; 
  }

a i{
    color:#000000;
    margin: 10px;
}

.icon i{
    font-size: 30px;
}


 i:hover{
    transform:rotate(360deg);
    transition-duration: 1000ms;
}

a{
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width:20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 50px;
  }